#anime{
	display: none;
	width: 100%;
	height: 250px;
}
#animeleft{
	float: left;
	width: 40%;
	height: 100%;
}
#animeimg1, #animeimg2, #animeimg3{
	width: 100%;
	height: 78%;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
}
#animeimg1{
	background-image: url("../images/CurrentAnime/pte1.gif");
}
#animeimg2{
	background-image: url("../images/CurrentAnime/pte2.gif");
}
#animeimg3{
	background-image: url("../images/CurrentAnime/pte3.gif");
}
#title{
	background-image: url("../images/CurrentAnime/ptetitle.jpg");
	width: 60%;
	height: 78%;
	padding: 0;
	margin: 0;
	float: right;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#animebottom{
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	float: right;
}
#top{
	height: 100%;
	margin: 0;
}
#img1{
	background-image: url("../images/CurrentAnime/oso.gif");
	background-repeat: no-repeat;
	background-position: center;
}
#img2{
	background-image: url("../images/CurrentAnime/josuke.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 275%;
}
#img3{
	background-image: url("../images/CurrentAnime/mob.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 275%;
}
#img4{
	background-image: url("../images/CurrentAnime/ajin.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 240%;
}
#img5{
	background-image: url("../images/CurrentAnime/daily.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 250%;
}
#img6{
	background-image: url("../images/CurrentAnime/cro.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 235%;
}
#img7{
	background-image: url("../images/CurrentAnime/gon.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 240%;
}
#img8{
	background-image: url("../images/CurrentAnime/saka.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 240%;
}
.container{
	padding: 1.75%;
	padding-right: 0;
	margin: 0;
	width: 22.75%;
	height: 70%;
	float: left;
}
.image{
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
}
.overlay{
	padding: 0;
	background-color: #3e6cb7;
	width: 100%;
	height: 0%;
	transition: 0.5s ease;
	overflow: hidden;
}
.container:hover .overlay{
	height: 15%;
	transition: 0.5s ease;
}
.container:hover .image{
	height: 85%;
	transition: 0.5s ease;
}
.text{
	color: white;
	font-size: 10px;
	text-align: center;
}

/*#animedrop{
	padding-top: 10px;
	padding-left: 17.3%;
}*/
