#mainArt{

}
#sections{
	width: 21%;
	float: left;
}
#sections a{
	color: #000000;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
#sections li{
	padding-top: 3px;
	padding-bottom: 6px;
	padding-left: 6%;
	border-bottom: 1px solid #4f7b3c;
}
#sections li:hover{
	background-color: #4f7b3c;
	color: #FFFFFF;
	cursor: pointer;
}
#viewContent{
	background: #FFFFFF;
	width: 58%;
	height: 120vh;
	float: left;
}

#favGallery{
	background-image: url("../images/Artwork/Current/test.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 50%;
}
#latest{
	width: 100%;
	height: 50%;
}
.workSection{
	float: left;
	width: 25%;
	margin-top: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../images/Artwork/Current/test.png");
	height: 90%;
	background-size: 300%;
	transition: all .2s;
}
.workSection:hover{
	cursor: pointer;
	background-size: 350%;
	transition: all .2s;
}
#currWork{

}
.workDetails{
	display: none;
	float: left;
	margin-top: 2%;
	text-align: center;
	width: 75%;
}
#currDetails{

}