body, a, p, ul, li, h1, html, div{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #193415;
}
body {
	background-color: #a2c276;
	width: 100%;
	font-family: "Verdana", Arial, Sans-serif, Serif;
}
/*nav bar*/
#nav {
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 22px;
	/*stays on screen*/
	position: fixed;
	/*stays on top*/
	z-index: 3;
	background-color: #4d6b2b;
	text-align: center;
}
#nav ul {
	float: right;
	/*no bullets*/
	list-style-type: none;
}
#nav li {
	float: left;
}
#nav a {
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	/*hints to clickable items*/
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-decoration: none;
}
#nav a:hover {
	background-color: #57763d;
	/*animation time*/
	transition: all .2s;
	text-decoration: none;
}
/*main*/
#main{
	padding-top: 40px;
}
.section{
	width: 100%;
	text-align: center;
}
.button{
	margin: auto;
	margin-top: 2%;
	width: 20%;
	font-size: 11pt;
	transition: 0.2s ease;
	font-weight: bold;
}
.button a{
	padding: 10px;
	background: #FFFFFF;
	border: 3px solid;
	border-color: #193415;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s ease;
}
.button a:hover{
	background: #193415;
	color: #FFFFFF;
	transition: 0.2s ease;
}
/*commission button*/
#commBut{
	position: absolute;
	top: 50px;
	left: -85px;
	width: 20%;
	font-size: 11pt;
	transition: 0.2s ease;
	font-weight: bold;
	transition: 0.2s ease;
}
#commBut a{
	padding: 10px 20px;
	background: #193415;
	border: 3px solid;
	border-color: #193415;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	transition: 0.2s ease;
}
#commBut:hover{
	left: 0;
	transition: 0.2s ease;
}
#commBut a:hover{
	background: #193415;
	color: #FFFFFF;
	transition: 0.2s ease;
}
/*latest works*/
#latest{
	position: relative;
	padding-top: 50%;
	width: 100%;
	height: 0;
}
#aSlider{
	position: absolute;
	padding-bottom: 2%;
	width: 30%;
	height: 75%;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#aTop{
	width: 100%;
	height: 90%;
	margin-bottom: 3%;
}
#aLeft{
	float: left;
	width: 10%;
	height: 100%;
	background: linear-gradient(to left, #4B4B4B 0%, #2D2D2D 100%);
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 10px 0px 0px 0px;
}
#aLeft:hover{
	opacity: 0.5;
	transition: 0.5s ease;
	cursor: pointer;
	border-radius: 10px 0px 0px 0px;
}
#aCurr{
	width: 100%;
	height: 100%;
	float: left;
	background-image: url("../images/2b.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px 10px 0px 0px;
}
#aRight{
	float: right;
	width: 10%;
	height: 100%;
	background: linear-gradient(to right, #4B4B4B 0%, #2D2D2D 100%);
	opacity: 0;
	transition: 0.5s ease;
	border-radius: 0px 10px 0px 0px;
}
#aRight:hover{
	opacity: 0.5;
	transition: 0.5s ease;
	cursor: pointer;
	border-radius: 0px 10px 0px 0px;
}
#aDot{
	padding-top: 3%;
	text-align: center;
}
.dot {
  	cursor: pointer;
  	height: 15px;
  	width: 15px;
  	background-color: #bbb;
  	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}
.active, .dot:hover {
  	background-color: #717171;
}


/*gallery left*/
#galLeft{
	width: 25%;
	height: 550px;
	float: left;
}
#colImage{
	width: 60%;
	height: 80%;
	float: right;
	background-image: url("../images/hoodie.png");
	background-size: cover;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
}
/*gallery right*/
#galRight{
	width: 20%;
	height: 550px;
	float: left;
	background-color: #57763d;
	color: #FFFFFF;
}
#colLogo{
	width: 100%;
	height: 30%;
	margin: auto;
	background-image: url("../images/logo.png");
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
#galRight h1{
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 16pt;
	text-align: center;
}
#galRight p{
	font-size: 11pt;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
}
/*to use the typing effect I made, no center and float left*/
#changeSize{
	/*float: left;*/
	/*text-align: center;*/
	color: #FFFFFF;
	/*overflow: hidden;
	white-space: nowrap;*/
	font-size: 11pt;
}

/*gallery*/
#gallery{
	width: 50%;
	margin-bottom: 3%;
	float: left;
}
.grid-container{
	margin: auto;
	width: 95%;
	height: 100%;
}
#a1{
  background-image: url("../images/ccs.png");
  background-size: cover;
}
#a2{
  background-image: url("../images/reach.png");
  background-size: cover;
}
#a3{
  background-image: url("../images/test.png");
  background-size: cover;
}
#a4{
  background-image: url("../images/new.png");
  background-size: cover;
}
#a5{
  background-image: url("../images/akira.png");
  background-size: cover;
  background-position: 50% 30%;
}
#a6{
  background-image: url("../images/akira2.png");
  background-size: cover;
  background-position: 50% 30%;
}
#a7{
  background-image: url("../images/2B.png");
  background-size: cover;
  background-position: 50% 30%;
}
#commLink{
	color: #FFFFFF;
	font-size: 11pt;
	margin-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

/*contact*/
#contact{
	background-color: #4d6b2b;
	height: 25vmax;
	color: #d2dfc5;
	float: left;
	/*overflow: auto;*/
}
#contact h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#contact hr{
	width: 50%;
}
#conTop{
	margin: auto;
	width: 60%;
	height: 55%;
}
.conPiece{
	padding-bottom: 2%;
	width: 50%;
	height: 30%;
	float: left;
}
.conPiece a{
	display: inline-block;
	text-decoration: none;
	color: #4d6b2b;
	float: left;
	cursor: pointer;
	transition: 0.5s ease;
}
.conPiece p{
	width: 80%;
	margin-left: 2%;
	margin-top: 2.5%;
	float: left;
	text-align: left;
	font-size: 10pt;
	cursor: pointer;
	transition: 0.3s ease;
	word-wrap: break-word;
}
.conPiece p:hover{
	opacity: 0.5;
	transition: 0.3s ease;
}
#titlehr{
	margin-bottom: 4%;
}
#twittericon, #linkedinicon, #twitchicon, #discordicon {
	padding: 10px;
	background: #d2dfc5;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 0.3s ease;
}
#twitchicon{
	padding-left: 11px;
	padding-right: 11px;
}
#twittericon:hover, #linkedinicon:hover, #twitchicon:hover, #discordicon:hover {
	opacity: 0.5;
	transition: 0.3s ease;
}
#copyright{
	width: 100%;
	float: left;
	font-size: 8pt;
	background-color: #4d6b2b;
}
@media screen and (max-width: 960px){
	#contact{
		height: 45vmax;
	}
	.conPiece{
		width: 100%;
		padding-bottom: 0;
	}
	.conPiece a{
		margin-left: 15%;
	}
	.conPiece p{
		margin-top: 0;
		width: 70%;
	}
}