#viewContent2{
	background: #FFFFFF;
	width: 58%;
	float: left;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2%;
  grid-gap: 10px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  grid-row-end: span 20;
}
.gridImage{
  background-image: url("../images/Artwork/Characters/newest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180%;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.gridOverlay{
  width: 100%;
  height: 0%;
  background-color: #4f7b3c;
  text-align: center;
  transition: 0.5s ease;
  font-size: 20px;
  overflow: hidden;
  color: #FFFFFF;
}
.grid-item:hover .gridImage{
  height: 85%;
  transition: 0.5s ease;
}
.grid-item:hover .gridOverlay{
  height: 15%;
  transition: 0.5s ease;
}
#topText{
	text-align: center;
}
#ocNew{
  background-image: url("../images/Artwork/Characters/newest.png");
  background-size: 180%;
}
#oc2{
  background-image: url("../images/Artwork/Characters/oc2.png");
  background-size: 180%;
}
#oc3{
  background-image: url("../images/Artwork/Characters/oc3.png");
  background-size: 180%;
}
#oc4{
  background-image: url("../images/Artwork/Characters/oc4.png");
  background-size: 180%;
}
#oc6{
  background-image: url("../images/Artwork/Characters/oc6.png");
  background-size: 180%;
}
#oc9{
  background-image: url("../images/Artwork/Characters/oc9.png");
  background-size: 180%;
}
#oc10{
  background-image: url("../images/Artwork/Characters/oc10.png");
  background-size: 180%;
}