.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2%;
  grid-gap: 10px;
}
.grid-item-1 {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../images/Artwork/test.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: 30px;
  text-align: center;
  grid-row-end: span 10;
}
.grid-item-2 {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../images/Artwork/test.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: 30px;
  text-align: center;
  grid-row-end: span 15;
}
.grid-item-3 {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../images/Artwork/test.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: 30px;
  text-align: center;
  grid-row-end: span 20;
}