#games{
	display: none;
	width: 100%;
	height: 100%;
}
#games ul{
	display: inline-block;
	list-style: none;
}
#games li{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
#games a{
	color: #000000;
	text-decoration: none;
	font-size: 14pt;
	margin: 0;
	padding: 0;
}
#gameButton1{
	border-bottom: solid;
	border-width: 2px;
}

#tabds{
	display: none;
	overflow-y: scroll;
}
#tabmobile{
	display: none;
}
#tabpc{
	display: none;
}

#ps1{
	background-image: url("../images/Games/nier.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 225%;
}
#ps2{
	background-image: url("../images/Games/ffxv.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 97%;
}
#ps3{
	background-image: url("../images/Games/type0.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ps4{
	background-image: url("../images/Games/xrd.jpg");
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-size: 100%;
}
#ps5{
	background-image: url("../images/Games/fates.png");
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-size: 120%;
}
#ps6{
	background-image: url("../images/Games/war.jpg");
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-size: 100%;
}

#ds1{
	background-image: url("../images/Games/fea.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds2{
	background-image: url("../images/Games/birthright.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds3{
	background-image: url("../images/Games/avalon.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds4{
	background-image: url("../images/Games/acnl.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 105%;
}
#ds5{
	background-image: url("../images/Games/bravely.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds6{
	background-image: url("../images/Games/echoes.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds7{
	background-image: url("../images/Games/pokey.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds8{
	background-image: url("../images/Games/pokeomega.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds9{
	background-image: url("../images/Games/pokesun.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds10{
	background-image: url("../images/Games/tomo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds11{
	background-image: url("../images/Games/hamster.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds12{
	background-image: url("../images/Games/pokeheart.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds13{
	background-image: url("../images/Games/pokeb2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds14{
	background-image: url("../images/Games/pokeb.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds15{
	background-image: url("../images/Games/pokecon.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds16{
	background-image: url("../images/Games/pokesuper.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds17{
	background-image: url("../images/Games/pokemystery.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds18{
	background-image: url("../images/Games/zeldahour.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds19{
	background-image: url("../images/Games/zeldaspirit.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds20{
	background-image: url("../images/Games/devil.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds21{
	background-image: url("../images/Games/mario.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds22{
	background-image: url("../images/Games/mana.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds23{
	background-image: url("../images/Games/naruto.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ds24{
	background-image: url("../images/Games/puzzler.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#ios1{
	background-image: url("../images/Games/feh.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 92%;
}
#ios2{
	background-image: url("../images/Games/gbf.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 92%;
}
#ios3{
	background-image: url("../images/Games/uta.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 92%;
}
#ios4{
	background-image: url("../images/Games/ccp.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 92%;
}
#ios5{
	background-image: url("../images/Games/azur.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 115%;
}
#ios6{
	background-image: url("../images/Games/drag.PNG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 92%;
}

#pc1{
	background-image: url("../images/Games/papers.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 175%;
}
#pc2{
	background-image: url("../images/Games/payday.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200%;
}

.alltabs{
	width: 100%;
	height: 5%;
	padding-top: 2%;
	padding-left: 2%;
	margin: 0;
}
.tabcontent{
	width: 88%;
	height: 90%;
	padding-left: 6%;
	padding-right: 6%;
}
.tabcontent h3, .tabcontent p{
	height: 5%;
}
.game{
	width: 100%;
	height: 100%;
}
.gameSlot{
	margin: 0;
	width: 20%;
	height: 32.5%;
	padding-top: 4%;
	padding-left: 4.5%;
	float: left;
}
.gameimg{
	width: 100%;
	height: 100%;
}



















/*#games{
	display: none;
	padding-top: 1%;
	width: 100%;
	height: 100%;
}
.gameSection{
	width: 100%;
	height: 32%;
}
#gameTop{
	
}
.gameImg{
	float: left;
	width: 21%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200%;
}
#ps4Gallery{
	background-image: url(" ");
}
#ps4Disc{
	animation: pop 3s linear infinite;
}
#dsPack{
	animation: pop 3s linear infinite;
}
#mobileGame{
	animation: push 3s linear infinite;
}
#laptopGame{
	animation: push 3s linear infinite;
	background-size: 50%;
}
@keyframes pop{
	60% {transform: scale(1.0);}
  	70% {transform: scale(1.1);}
  	80% {transform: scale(1.0);}
}
@keyframes push{
	0% {transform: scale(1.1);}
	60% {transform: scale(1.1);}
  	70% {transform: scale(1.0);}
  	80% {transform: scale(1.1);}
  	100% {transform: scale(1.1);}
}
#dsGallery{
	background-image: url(" ");
}
#mobileGallery{
	background-image: url(" ");
}
#laptopGallery{
	background-image: url(" ");
}
#gameMid{

}
.gameTitle{
	float: left;
	width: 21%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
}
.gameCover{
	width: 50%;
	height: 50%;
	padding-top: 20%;
	padding-bottom: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin: 0 auto;
}
.gameTitle p{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
#ps4Disc{
	background-image: url("../images/Games/ps4Disc.png");
}
#dsPack{
	background-image: url("../images/Games/3dsPack.png");
}
#mobileGame{
	background-image: url("../images/Games/touch.png");
}
#laptopGame{
	background-image: url("../images/Games/cursor.png");
}
#gameBot{

}
#ps4Console{
	background-image: url("../images/Games/ps4.png");
	background-size: 100%;
}
#dsConsole{
	background-image: url("../images/Games/3ds.png");
	background-size: 100%;
}
#mobileConsole{
	background-image: url("../images/Games/mobile.png");
	background-size: 40%;
}
#laptopConsole{
	background-image: url("../images/Games/laptop.png");
	background-size: 100%;
}*/