#games{
	display: none;
	width: 100%;
	height: 100%;
}
#games ul{
	display: inline-block;
	list-style: none;
}
#games li{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
#games a{
	color: #000000;
	text-decoration: none;
	font-size: 14pt;
	margin: 0;
	padding: 0;
}
#gameButton1{
	border-bottom: solid;
	border-width: 2px;
}

#tabds{
	display: none;
}
#tabmobile{
	display: none;
}
#tabpc{
	display: none;
}

#ios1{
	background-image: url("../images/Games/feh.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ios2{
	background-image: url("../images/Games/gbf.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#ios3{
	background-image: url("../images/Games/uta.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 220%;
	background-position: 47% 0%;
}
#ios4{
	background-image: url("../images/Games/ccp.PNG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-position: 50% 0%;
}
#ios5{
	background-image: url("../images/Games/food.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150%;
	background-position: 30% 0%;
}
#ios6{
	background-image: url("../images/Games/oso.PNG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 180%;
}
#ios7{
	background-image: url("../images/Games/crash.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 125%;
}
#ios8{
	background-image: url("../images/Games/acpc.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200%;
	background-position: 50% 80%;
}

.alltabs{
	width: 100%;
	height: 5%;
	padding-top: 2%;
	padding-left: 2%;
	margin: 0;
}
.tabcontent{
	width: 88%;
	height: 95%;
	padding-left: 6%;
	padding-right: 6%;
}
.tabcontent h3, .tabcontent p{
	height: 5%;
}
.game{
	width: 100%;
	height: 100%;
}
.gameSlot{
	margin: 0;
	width: 20%;
	height: 30%;
	padding-top: 4%;
	padding-left: 4.5%;
	float: left;
}
.gameimg{
	width: 100%;
	height: 100%;
}



















/*#games{
	display: none;
	padding-top: 1%;
	width: 100%;
	height: 100%;
}
.gameSection{
	width: 100%;
	height: 32%;
}
#gameTop{
	
}
.gameImg{
	float: left;
	width: 21%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200%;
}
#ps4Gallery{
	background-image: url(" ");
}
#ps4Disc{
	animation: pop 3s linear infinite;
}
#dsPack{
	animation: pop 3s linear infinite;
}
#mobileGame{
	animation: push 3s linear infinite;
}
#laptopGame{
	animation: push 3s linear infinite;
	background-size: 50%;
}
@keyframes pop{
	60% {transform: scale(1.0);}
  	70% {transform: scale(1.1);}
  	80% {transform: scale(1.0);}
}
@keyframes push{
	0% {transform: scale(1.1);}
	60% {transform: scale(1.1);}
  	70% {transform: scale(1.0);}
  	80% {transform: scale(1.1);}
  	100% {transform: scale(1.1);}
}
#dsGallery{
	background-image: url(" ");
}
#mobileGallery{
	background-image: url(" ");
}
#laptopGallery{
	background-image: url(" ");
}
#gameMid{

}
.gameTitle{
	float: left;
	width: 21%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
}
.gameCover{
	width: 50%;
	height: 50%;
	padding-top: 20%;
	padding-bottom: 2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin: 0 auto;
}
.gameTitle p{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}
#ps4Disc{
	background-image: url("../images/Games/ps4Disc.png");
}
#dsPack{
	background-image: url("../images/Games/3dsPack.png");
}
#mobileGame{
	background-image: url("../images/Games/touch.png");
}
#laptopGame{
	background-image: url("../images/Games/cursor.png");
}
#gameBot{

}
#ps4Console{
	background-image: url("../images/Games/ps4.png");
	background-size: 100%;
}
#dsConsole{
	background-image: url("../images/Games/3ds.png");
	background-size: 100%;
}
#mobileConsole{
	background-image: url("../images/Games/mobile.png");
	background-size: 40%;
}
#laptopConsole{
	background-image: url("../images/Games/laptop.png");
	background-size: 100%;
}*/