/*Main stuff*/
body, a, p, ul, li, h1, html, div{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #193415;
}
body {
	background-color: #112751;
	width: 100%;
	font-family: "Verdana", Arial, Sans-serif, Serif;
}
/*HEADER*/
/*BACKGROUND IMAGE*/
#header{
	width: 100%;
	height: 80vh;
	background-image: url("../Images/HeaderBGImg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	z-index: -1;
}
/*NAME*/
#headername{
	width: 30%;
	height: 15%;
	margin-left: 35%;
	position: absolute;
	top: 18%;
	background-image: url("../Images/headername.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	z-index: 0;
}
/*HEADLINE*/
#header p{
	width: 100%;
	position: absolute;
	top: 35%;
	color: white;
	text-transform: uppercase;
	letter-spacing: 20px;
	font-weight: bold;
	text-align: center;
}
/*HEADER DOWNLOAD PDF BUTTON*/
#headerdownload{
	position: relative;
	top: 53%;
	text-align: center;
}
#headerdownload a{
	width: 12%;
	padding: 1%;
    margin-bottom: 3%;
    /*keeps full width*/
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
    border: 2px solid white;
    transition: all 0.2s;
}
#headerdownload a:hover{
    color: black;
    background-color: white;
    transition: all 0.2s;
}

/*PAGE SELECT*/
/*DECORATION*/
#pageSelect{
	width: 100%;
	padding-bottom: 5%;
	background-color: #112751;
}
.block{
	width: 20%;
	float: left;
	background-color: #112751;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	z-index: 0;
}
#block1{
	height: 50px;
	transform: translate(0px, -50px);
	animation-name: blockAnim1;
}
#block2{
	height: 30px;
	transform: translate(0px, -30px);
	animation-name: blockAnim2;
}
#block3{
	height: 20px;
	margin-left: 20%;
	transform: translate(0px, -20px);
	animation-name: blockAnim3;
}
#block4{
	height: 40px;
	transform: translate(0px, -40px);
	animation-name: blockAnim4;
}
/*PAGE NAVIGATION BLOCKS*/
#navigation{
	width: 75%;
	padding-top: 6%;
	padding-bottom: 2%; 
	padding-left: 12.5%;
}
.selectBox{
	width: 40%;
	margin-left: 5%;
	margin-bottom: 6%;
	padding-top: 10%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	display: inline-block;
	background-color: black;
	z-index: 1;
	/*border: 2px solid #3d6380;*/
	transition: all 0.2s;
	-webkit-clip-path: polygon(0 11%, 5% 0, 100% 0, 100% 89%, 95% 100%, 0 100%);
}
.selectBox:hover{
	/*border: 2px solid #d34e5e;*/
	transition: all 0.2s;
	background-size: 105%;
}
.selectBox p{
	padding-left: 5%;
	font-size: 75px;
	color: transparent;
	transition: all 0.2s;
}
.selectBox:hover p{
	color: white;
	transition: all 0.2s;
	text-shadow: 3px 3px 0 #000;
}
#about{
	background-image: url("../Images/HeaderBGImg.png");
}
#artwork{
	background-image: url("../Images/HeaderBGImg.png");
}
#portfolio{
	background-image: url("../Images/HeaderBGImg.png");
}

/*QUOTE*/
#quote{
	width: 100%;
	/*height: 80vh;*/
	background-image: url("../Images/legionfusion.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: #112751;
	background-blend-mode: color-dodge;
}
#quote p{
	width: 70%;
	margin: auto;
	padding: 15% 0%;
	text-align: center;
	color: white;
	font-size: 65px;
	line-height: 150%;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#quote br{
	line-height: 2px;
}

/*SNEAK PEAK*/
/*TITLES*/
.peek{
	width: 75%;
	height: 55vh;
	margin: auto;
	padding-bottom: 7%;
}
.peek p{
	color: white;
	font-size: 30px;
}
#typing{
	opacity: 100%;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: typingeffect;
}
.profiletitle{
	width: 100%;
	height: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.profiletitle p{
	float: left;
}
/*INTRO*/
/*PICTURE/MEDIA/SKILLS*/
#profileleft{
	width: 50%;
	height: 100%;
	float: left;
}
#profileleft p{
	padding-top: 2%;
	padding-right: 2%;
}
#picture{
	width: 100%;
	height: 40%;
	position: relative;
	background-image: url("../Images/BearPancakes.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
/*DESCRIPTION*/
#details{
	font-size: 25px;
}
/*MEDIA*/
#media{
	width: 50%;
	height: 15%;
	padding-top: 5%;
}
.mediaicon{
	width: 15%;
	height: 30%;
	padding-bottom: 1%;
	float: left;
}
.mediaicon a{
	display: inline-block;
	text-decoration: none;
	color: white;
	float: left;
	cursor: pointer;
	transition: 0.2s ease;
}
.mediaicon a:hover{
	display: inline-block;
	text-decoration: none;
	color: #2D5FAA;
	float: left;
	cursor: pointer;
	transition: 0.2s ease;
}
#icon{
	padding: 5px;
	background: #2D5FAA;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 0.2s ease;
}
#icon:hover{
	padding: 5px;
	background: white;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 0.2s ease;
}
/*SKILLS*/
#profileright{
	width: 50%;
	height: 100%;
	float: left;
}
#skills{
	width: 100%;
	height: 50%;
	margin-left: 25%;
}
#skills ul{
	padding-top: 3%;
	padding-left: 5%;
}
#skills li{
	width: 50%;
	margin-bottom: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	background-color: #2D5FAA;
	color: white;
	list-style: none;
	font-size: 25px;
	border-left-style: solid;
	border-left-width: 5px;
	border-radius: 5px;
	cursor: default;
	transition: 0.2s ease;
}
#skills li:hover{
	background-color: white;
	color: #2D5FAA;
	transform: translate(-5%, 0%);
	cursor: default;
	transition: 0.2s ease;
}

/*ARTWORK*/
.artpiece{
	width: 90%;
	height: 90%;
	transform: translate(5%, 5%);
	border: 2px solid transparent;
	transition: all 0.2s;
}
#art1:hover .artpiece, #art2:hover .artpiece, #art3:hover .artpiece{
	border: 2px solid #d34e5e;
	transition: all 0.2s;
}
#art1{
	width: 49%;
	height: 100%;
	margin-right: 1%;
	float: left;
	background-image: url("../Images/meme1.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	transition: all 0.2s;
}
#art1:hover{
	transform: translate(-5%, 0%);
	transition: all 0.2s;
}
#art2{
	width: 49%;
	height: 48%;
	margin-left: 1%;
	float: left;
	background-image: url("../Images/meme2.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	transition: all 0.2s;
}
#art2:hover{
	transform: translate(5%, 0%);
	transition: all 0.2s;
}
#artspace{
	width: 49%;
	height: 4%;
	margin-left: 1%;
	float: left;
}
#art3{
	width: 49%;
	height: 48%;
	margin-left: 1%;
	float: left;
	background-image: url("../Images/meme3.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	transition: all 0.2s;
}
#art3:hover{
	transform: translate(5%, 0%);
	transition: all 0.2s;
}

/*WORK PIECES*/
.workpiece{
	width: 100%;
	height: 100%;
}
#work1{
	width: 30%;
	height: 100%;
	float: left;
	background-image: url("../Images/VTuber1.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#work2{
	width: 30%;
	height: 100%;
	margin-left: 5%;
	float: left;
	background-image: url("../Images/VTuber0.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#work3{
	width: 30%;
	height: 100%;
	margin-left: 5%;
	float: left;
	background-image: url("../Images/RMGenshinAudio.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

/*COPYRIGHT*/
#copyright{
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	color: #7f929b;
	text-align: center;
	font-size: 12px;
	background-color: #112751;
}
#copyright hr{
	width: 80%;
	border-color: #7f929b;
}

/*KEYFRAMES*/
/*BLOCKS*/
@keyframes blockAnim1{
	0% 		{transform: scale(1.0, 3.0);}
	50%		{transform: scale(1.0, 3.5);}
	100%	{transform: scale(1.0, 3.0);}
}
@keyframes blockAnim2{
	0% 		{transform: scale(1.0, 3.0);}
	25%		{transform: scale(1.0, 3.5);}
	100%	{transform: scale(1.0, 3.0);}
}
@keyframes blockAnim3{
	0% 		{transform: scale(1.0, 3.0);}
	75%		{transform: scale(1.0, 3.5);}
	100%	{transform: scale(1.0, 3.0);}
}
@keyframes blockAnim4{
	0% 		{transform: scale(1.0, 3.5);}
	50%		{transform: scale(1.0, 3.0);}
	100%	{transform: scale(1.0, 3.5);}
}
/*TYPING*/
@keyframes typingeffect{
	0%		{opacity: 100%}
	50%		{opacity: 0%}
	100%	{opacity: 100%}
}