body, a, p, ul, li, h1, html, div{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #193415;
}
body {
	background-color: #a2c276;
	width: 100%;
	font-family: "Verdana", Arial, Sans-serif, Serif;
}
/*nav bar*/
#nav {
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 22px;
	/*stays on screen*/
	position: fixed;
	/*stays on top*/
	z-index: 3;
	background-color: #4d6b2b;
	text-align: center;
}
#nav ul {
	float: right;
	/*no bullets*/
	list-style-type: none;
}
#nav li {
	float: left;
}
#nav a {
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	/*hints to clickable items*/
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-decoration: none;
}
#nav a:hover {
	background-color: #57763d;
	/*animation time*/
	transition: all .2s;
	text-decoration: none;
}
/*main*/
#main{
	padding-top: 40px;
}
.section{
	width: 100%;
	text-align: center;
}
/*intro*/
#intro{
	width: 100%;
	height: 100vh;
}
#bgphoto{
	width: 100%;
	height: 100%;
	background-image: url("../images/scenery.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100%;

}
#bgphoto h1{
	position: absolute;
	top: 70%;
  	left: 50%;
  	transform: translate(-50%, -70%);
	margin: auto;
	text-align: center;
	/*text-shadow: #000000 1px 0 10px;
	color: #d2dfc5*/
	text-shadow: #FFF 1px 0 10px;
	color: #193415
}
.button{
	padding: 10px 40px;
	text-align: center;
	background: #FFFFFF;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s ease;
	font-weight: bold;
	font-size: 10pt;
}
.button:hover{
	background: #57763d;
	color: #FFFFFF;
	transition: 0.2s ease;
}
#redirect{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 0%);
}
/*profile*/
#profile{
	/*height: 49vmax;*/
	height: 80VH;
}
#profile h1{
	padding-bottom: 2%;
	font-size: 20pt;
}
#profileL{
	width: 35%;
	height: 100%;
	float: left;
}
#profileR{
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 60%;
	height: 90%;
	float: left;
}
#profileR p{
	text-align: left;
	padding-bottom: 1%;
}
#profilePic{
	margin: auto;
	margin-top: 7%;
	margin-bottom: 7%;
	width: 50%;
	height: 60%;
	background-image: url("../images/profile2.jpg");
	background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: 100%;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#more{
	margin-top: 6%;
	margin-bottom: 6%;
}
/*artwork*/
#art{
	background-color: #FFFFFF;
	/*height: 49vmax;*/
	height: 100VH;
}
#art h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#art hr{
	width: 30%;
}
#artTop{
	padding-top: 2%;
	width: 100%;
	height: 60%;
}
.artpiece{
	position: relative;
	width: 30%;
	height: 90%;
	float: left;
	margin-left: 1.65%;
	margin-right: 1.65%;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#art1{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url("../images/akira2.png");
	background-repeat: no-repeat;
	background-position: 50% 10%;
	/*background-size: cover;*/
	background-size: 150%;
}
#art2{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url("../images/2B.png");
	background-repeat: no-repeat;
	background-position: 50% 10%;
	background-size: 90%;
}
#art3{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url("../images/test.png");
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
#artBot{
	margin: auto;
	width: 50%;
	height: 20%;
}
#artbut1, #artbut2{
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
	display: inline-block;
	background: #57763d;
	color: #FFFFFF;
}
#artbut1:hover, #artbut2:hover {
	background: #FFFFFF;
	color: #193415;
}
/*portfolio*/
#port{
	/*height: 50vmax;*/
	height: 100vh;
}
#port h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#port hr{
	width: 35%;
}
#portTop{
	width: 100%;
	height: 65%;
	padding-top: 2%;
}
.portPiece{
	float: left;
	width: 30%;
	height: 90%;
	margin-left: 1.65%;
	margin-right: 1.65%;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.portPiece h1{
	margin-top: 1%;
	font-size: 16pt;
}
#portBut{
	margin-top: 0;
}
#port1{
	width: 100%;
	height: 60%;
	background-image: url("../images/battle.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 120%;
	border-radius: 10px 10px 0 0;
}
#port2{
	width: 100%;
	height: 60%;
	background-image: url("../images/player.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 120%;
	border-radius: 10px 10px 0 0;
}
#port3{
	width: 100%;
	height: 60%;
	background-image: url("../images/dialogue.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 160%;
	border-radius: 10px 10px 0 0;
}
/*contact*/
#contact{
	background-color: #4d6b2b;
	height: 25vmax;
	color: #d2dfc5;
	/*overflow: auto;*/
}
#contact h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#contact hr{
	width: 50%;
}
#conTop{
	margin: auto;
	width: 60%;
	height: 55%;
}
.conPiece{
	padding-bottom: 2%;
	width: 50%;
	height: 30%;
	float: left;
}
.conPiece a{
	display: inline-block;
	text-decoration: none;
	color: #4d6b2b;
	float: left;
	cursor: pointer;
	transition: 0.5s ease;
}
.conPiece p{
	width: 80%;
	margin-left: 2%;
	margin-top: 2.5%;
	float: left;
	text-align: left;
	font-size: 10pt;
	cursor: pointer;
	transition: 0.3s ease;
	word-wrap: break-word;
}
.conPiece p:hover{
	opacity: 0.5;
	transition: 0.3s ease;
}
#titlehr{
	margin-bottom: 4%;
}
#twittericon, #linkedinicon, #twitchicon, #discordicon {
	padding: 10px;
	background: #d2dfc5;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 0.3s ease;
}
#twitchicon{
	padding-left: 11px;
	padding-right: 11px;
}
#twittericon:hover, #linkedinicon:hover, #twitchicon:hover, #discordicon:hover {
	opacity: 0.5;
	transition: 0.3s ease;
}
#copyright{
	width: 100%;
	float: left;
	font-size: 8pt;
	background-color: #4d6b2b;
}
/*media query*/
@media screen and (max-width: 960px){
	#contact{
		height: 40vmax;
	}
	.conPiece{
		width: 100%;
		padding-bottom: 0;
	}
	.conPiece a{
		margin-left: 15%;
	}
	.conPiece p{
		margin-top: 0;
		width: 70%;
	}
	#bgphoto h1{
		font-size: 17pt;
	}
	#profile{
		font-size: 10pt;
	}
	#profile h1{
		font-size: 18pt;
	}
}