body, a, p, ul, li, h1, html, div{
	padding: 0;
	margin: 0;
}
body {
	background-color: #d2dfc5;
	width: 100%;
	font-family: "Verdana", Arial, Sans-serif, Serif;
}
/*nav bar*/
#nav {
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	/*stays on screen*/
	position: fixed;
	/*stays on top*/
	z-index: 3;
	background-color: #193415;
	text-align: center;
}
#nav ul {
	float: right;
	/*no bullets*/
	list-style-type: none;
}
#nav li {
	float: left;
}
#nav a {
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	/*hints to clickable items*/
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-decoration: none;
}
#nav a:hover {
	background-color: #4f7b3c;
	/*animation time*/
	transition: all .2s;
	text-decoration: none;
}
/*main*/
#main{
	padding-top: 40px;
}
.section{
	width: 100%;
	/*border-top: solid;*/
	text-align: center;
}
/*intro*/
#intro{
	width: 100%;
	height: 45vmax;
	text-align: center;
}
#bgphoto{
	width: 100%;
	height: 100%;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100%;
}
#bgphoto h1{
	padding-top: 30%;
}
.button{
	margin: auto;
	margin-top: 2%;
	padding: 1%;
	width: 10%;
	background: #FFFFFF;
	border: 3px solid;
	border-color: #193415;
	border-radius: 5px;
	cursor: pointer;
	font-size: 11pt;
	transition: 0.2s ease;
	font-weight: bold;
}
.button:hover {
	background: #193415;
	color: #FFFFFF;
	transition: 0.2s ease;
}
/*profile*/
#profile{
	height: 47.5vmax;
}
#profile h1{
	padding-top: 2%;
	padding-bottom: 2%;
}
#profileL{
	width: 50%;
	height: 100%;
	float: left;
}
#profileR{
	margin-top: 13%;
	width: 50%;
	height: 50%;
	float: left;
}
#profilePic{
	margin: auto;
	margin-top: 5%;
	margin-bottom: 2%;
	width: 40%;
	height: 60%;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 150%;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#more{
	width: 20%;
	padding: 2%;
}
/*artwork*/
#art{
	background-color: #FFFFFF;
	height: 47.5vmax;
}
#art h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#art hr{
	width: 30%;
}
#artTop{
	padding-top: 2%;
	width: 100%;
	height: 60%;
}
.artpiece{
	position: relative;
	width: 30%;
	height: 90%;
	float: left;
	margin-left: 1.65%;
	margin-right: 1.65%;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#art1{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
}
#art2{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
}
#art3{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
}
#artBot{
	margin: auto;
	width: 100%;
	height: 20%;
}
#artbut1{
	margin-left: 35%;
	float: left;
}
#artbut2{
	margin-right: 35%;
	float: right;
}
/*portfolio*/
#port{
	height: 47.5vmax;
}
#port h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#port hr{
	width: 35%;
}
#portTop{
	width: 100%;
	height: 65%;
	padding-top: 2%;
}
.portPiece{
	float: left;
	width: 30%;
	height: 90%;
	margin-left: 1.65%;
	margin-right: 1.65%;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.portPiece h1{
	margin-top: 1%;
	font-size: 16pt;
}
#portBut{
	margin-top: 0;
}
#port1{
	width: 100%;
	height: 50%;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	border-radius: 10px 10px 0 0;
}
#port2{
	width: 100%;
	height: 50%;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	border-radius: 10px 10px 0 0;
}
#port3{
	width: 100%;
	height: 50%;
	background-image: url("../images/yeah.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	border-radius: 10px 10px 0 0;
}
/*contact*/
#contact{
	background-color: #193415;
	height: 25vmax;
	color: #d2dfc5;
}
#contact h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#contact hr{
	width: 30%;
}
#conTop{
	margin: auto;
	width: 65%;
	height: 55%;
}
.conPiece{
	padding-top: 3%;
	width: 50%;
	height: 30%;
	float: left;
}
.conPiece a{
	margin-left: 25%;
	display: inline-block;
	text-decoration: none;
	color: #193415;
	float: left;
	cursor: pointer;
	transition: 0.5s ease;
}
.conPiece p{
	margin-left: 2%;
	margin-top: 2.5%;
	float: left;
	font-size: 10pt;
	cursor: pointer;
	transition: 0.3s ease;
}
.conPiece p:hover{
	opacity: 0.5;
	transition: 0.3s ease;
}
#conLong{
	margin-top: 1.5%;
	width: 50%;
}
#twittericon, #linkedinicon, #twitchicon, #discordicon {
	background: #d2dfc5;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 1.25em;
	transition: 0.3s ease;
}
#twittericon:hover, #linkedinicon:hover, #twitchicon:hover, #discordicon:hover {
	opacity: 0.5;
	transition: 0.3s ease;
}
footer{
	width: 100%;
	float: left;
	font-size: 8pt;
}