#songs{
	display: none;
	width: 100%;
	height: 100%;
}
#songs p{
	text-align: center;
}
#songtop{
	width: 100%;
	height: 35%;
	margin: 0;
	padding: 0;
}
#member1{
	background-image: url("../images/Music/ukwon.jpg");
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-size: 115%;
}
#member2{
	background-image: url("../images/Music/bbomb.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 110%;
}
#member3{
	background-image: url("../images/Music/zico.jpg");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	background-size: 130%;
}
#member4{
	background-image: url("../images/Music/po.jpg");
	background-repeat: no-repeat;
	background-position: 50% 69%;
	background-size: 220%;
}
#member5{
	background-image: url("../images/Music/taeil.jpg");
	background-repeat: no-repeat;
	background-position: 50% 71%;
	background-size: 220%;
}
#member6{
	background-image: url("../images/Music/kyung.jpg");
	background-repeat: no-repeat;
	background-position: 50% 53%;
	background-size: 220%;
}
#member7{
	background-image: url("../images/Music/jaehyo.jpg");
	background-repeat: no-repeat;
	background-position: 50% 63%;
	background-size: 190%;
}

#favBand{
	height: 3%;
}

#songleft{
	width: 50%;
	height: 62%;
	float: left;
}
#latest{
	height: 5%;
	padding: 2%;
}
#latestImg{
	background-image: url("../images/Music/latest.jpg");
	width: 50%;
	height: 70%;
	display: block;
	margin: 0 auto;
	background-size: 100%;
	background-position: auto;
	background-repeat: no-repeat;
}

#songright{
	width: 50%;
	height: 62%;
	float: left;
}
#playlist{
	height: 5%;
	padding: 2%;
}
#songright table {
	display: block;
    border-collapse: collapse;
    border-spacing: 0;
    width: 99.5%;
    border: 1px solid #ddd;
    overflow-y: scroll;
    height: 85%;
}

th, td {
    text-align: left;
    padding: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}



.container2{
	padding: 1.75%;
	padding-right: 0;
	margin: 0;
	width: 12.25%;
	height: 80%;
	float: left;
}
.image{
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
}
.overlay{
	padding: 0;
	margin: 0;
	background-color: #7baf74;
	width: 100%;
	height: 0%;
	transition: 0.5s ease;
	overflow: hidden;
}
.container2:hover .overlay{
	height: 15%;
	transition: 0.5s ease;
}
.container2:hover .image{
	height: 85%;
	transition: 0.5s ease;
}
.text{
	color: white;
	font-size: 10px;
	text-align: center;
}