body, a, p, ul, li, h1, html, div{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #193415;
}
body {
	background-color: #E9E9E9;
	width: 100%;
	font-family: "Verdana", Arial, Sans-serif, Serif;
}
/*nav bar*/
#nav {
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	height: 22px;
	/*stays on screen*/
	position: fixed;
	/*stays on top*/
	z-index: 3;
	background-color: #4a5d64;
	text-align: center;
}
#nav ul {
	float: right;
	/*no bullets*/
	list-style-type: none;
}
#nav li {
	float: left;
}
#nav a {
	color: #FFFFFF;
	font-size: 18px;
	text-transform: uppercase;
	/*hints to clickable items*/
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-decoration: none;
}
#nav a:hover {
	background-color: #243c48;
	/*animation time*/
	transition: all .2s;
	text-decoration: none;
}
/*main*/
#main{
	padding-top: 40px;
}
.section{
	width: 100%;
	text-align: center;
}

/*timeline*/
.container{
	width: 50%;
	padding-bottom: 10%;
	float: left;
}
.container ul {
	margin: 0;
	margin-top: 100px;
	list-style: none;
	position: relative;
	padding: 1px 100px;
	color: #FFFFFF;
	font-size: 13px;
}
.container ul:before {
	content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #FFFFFF;
}
.container ul li {
	cursor: pointer;
	position: relative;
	/*position the posts*/
	margin-left: 30px;
	padding: 14px;
	/*background-color: rgba(103, 145, 122, 0.75);*/
	background-color: #4a5d64;
	/*rounded corners*/
	border-radius: 6px;
	/*width of text box*/
	/*width: 250px; */
	width: 100%; 
	/*shadow border*/
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child) {
	/*space between each post*/
 	margin-top: 60px;
}
.container ul li > span {
	/*the line width*/
  	width: 2px;
  	height: 100%;
  	position: absolute;
  	background: #FFFFFF;
  	left: -30px;
  	top: 0;
}
.container ul li > span:before, .container ul li > span:after {
	/*circle*/
  	content: "";
  	width: 8px;
  	height: 8px;
  	border-radius: 50%;
  	border: 2px solid #fff;
  	position: absolute;
  	background: #ee8596;
  	top: 0;
  	left: -5px;
}
.container ul li span:after {
	/*placement of last circle in group*/
  	top: 100%;
}
.container ul li > div {
	/*margin for text in post*/
  	margin-left: 10px;
}
.container div .title, .container div .type {
	/*bolding the title and post type*/
  	font-weight: 600;
  	font-size: 12px;
}

.container div .info {
  	font-weight: 300;
}
.container div > div {
  	margin-top: 5px;
}
.container span.number {
  	height: 100%;
}
.container span.number span {
	/*post number*/
  	position: absolute;
  	font-size: 10px;
  	left: -60px;
  	font-weight: bold;
  	color: #243c48;
}
.container span.number span:first-child {
  	top: 0;
}
.container span.number span:last-child {
	/*placement of last post numnber*/
  	top: 100%;
}


/*image system*/
#imgSys{
	width: 50%;
	height: 100vh;
	left: 100%;
	transform: translateX(-100%);
	position: fixed;
}
#imgBorder{
	margin: auto;
	margin-top: 10%;
	padding-top: 3%;
	width: 60%;
	height: 70%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background-color: #FFFFFF;
}
#imgDisplay{
	margin: auto;
	width: 90%;
	height: 80%;
	background-image: url("../images/particle.gif");
	background-size: cover;
	/*background-size: 100%;*/
	background-position: center;
	background-repeat: no-repeat;
}

#iconl{
	background-color: #ee8596;
	color: #FFFFFF;
	margin-top: 4.5%;
	margin-left: 5%;
	padding: 10px;
	border-radius: 5px;
	font-size: 16pt;
}
#icon{
	background-color: #ee8596;
	color: #FFFFFF;
	margin-top: 4.5%;
	margin-left: 2%;
	padding: 10px;
	border-radius: 5px;
	font-size: 16pt;
}

/*contact*/
#contact{
	float: left;
	background-color: #4d6b2b;
	height: 25vmax;
	color: #fff3e3;
	/*overflow: auto;*/
}
#contact h1{
	padding-top: 2%;
	padding-bottom: 1%;
}
#contact hr{
	width: 50%;
}
#conTop{
	margin: auto;
	width: 60%;
	height: 55%;
}
.conPiece{
	padding-bottom: 2%;
	width: 50%;
	height: 30%;
	float: left;
}
.conPiece a{
	display: inline-block;
	text-decoration: none;
	color: #4d6b2b;
	float: left;
	cursor: pointer;
	transition: 0.5s ease;
}
.conPiece p{
	width: 80%;
	margin-left: 2%;
	margin-top: 2.5%;
	float: left;
	text-align: left;
	font-size: 10pt;
	cursor: pointer;
	transition: 0.3s ease;
	word-wrap: break-word;
}
.conPiece p:hover{
	opacity: 0.5;
	transition: 0.3s ease;
}
#titlehr{
	margin-bottom: 4%;
}
#twittericon, #linkedinicon, #twitchicon, #discordicon {
	padding: 10px;
	background: #d2dfc5;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 0.3s ease;
}
#twitchicon{
	padding-left: 11px;
	padding-right: 11px;
}
#twittericon:hover, #linkedinicon:hover, #twitchicon:hover, #discordicon:hover {
	opacity: 0.5;
	transition: 0.3s ease;
}
#copyright{
	width: 100%;
	float: left;
	font-size: 8pt;
	background-color: #4d6b2b;
}
/*media query*/
@media screen and (max-width: 960px){
	#contact{
		height: 40vmax;
	}
	.conPiece{
		width: 100%;
		padding-bottom: 0;
	}
	.conPiece a{
		margin-left: 15%;
	}
	.conPiece p{
		margin-top: 0;
		width: 70%;
	}
}