#intro{
	display: block;
	width: 100%;
	height: 100%;
}
#profilePic{
	background-image: url("../images/Profile/picture.png");
	width: 30%;
	height: 30%;
	padding-top: 15%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
#start{
	font-size: 30px;
	text-align: center;
	float: left;
	width: 70%;
	height: 5%;
}
#profileContent{
	width: 70%;
	height: 20%;
	float: left;
}
/*to use the typing effect I made, no center and float left*/
#changeSize{
	/*float: left;*/
	text-align: center;
	color: #bf6363;
	/*overflow: hidden;
	white-space: nowrap;*/
	font-size: 30px;
	margin-top: 2%;
}
#type{
	font-size: 30px;
	margin-top: 2%;
	animation: typing 0.75s linear infinite;
}
@keyframes typing{
	30% {color: #000000;}
	50% {color: #FFFFFF;}
	70% {color: #000000;}
}
#home{
	background-image: url("../images/Profile/topButton.png");
	width: 15%;
	height: 30%;
	position: fixed;
  	bottom: 10px;
  	left: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	cursor: pointer;
}

#advanced{
	width: 100%;
	height: 50%;
	float: left;
	display: none;
}
#draw{

}