#intro{
	display: block;
	width: 100%;
	height: 100%;
}
#profilePic{
	background-image: url("../images/Profile/picture.png");
	width: 20%;
	height: 50%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
#profileContent{
	width: 80%;
	height: 100%;
	float: left;
}
#profileContent li{
	padding-left: 5%;
	list-style-type: none;
}
#profileContent p{
	float: left;
	font-size: 30px;
	text-align: center;
}
#changeSize{
	float: left;
	color: #dda59e;
	/*overflow: hidden;
	white-space: nowrap;*/
	font-size: 30px;
}
#type{
	animation: typing 0.75s linear infinite;
}
@keyframes typing{
	30% {color: #000000;}
	50% {color: #FFFFFF;}
	70% {color: #000000;}
}
#home{
	background-image: url("../images/Profile/topButton.png");
	width: 15%;
	height: 30%;
	position: fixed;
  	bottom: 10px;
  	left: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	cursor: pointer;
}